<footer id="contact">
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-md-5">
                <h1 class="text-light">About Us</h1>
                <p class="text-muted">STAVORS mission is to unite with people in India in order to create development
                    in the broadest sense
                    through the implementation of the projects that aim at transferring knowledge, skills and capacity
                    to
                    individuals and communities who need assistance to come out of poverty and other dehumanizing
                    conditions.</p>
                <p class="pt-4 text-muted">Copyright ©2021 ALL RIGHTS RESERVED| This website was made as an assignment
                    for
                    <span>CSE2015</span>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form class="form-inline" action="/" method="post">
                    <div class="col pl-">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" placeholder="Email" name=""
                                value="">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Help us help more people!</p>
                <div class="column">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>


            </div>
        </div>

</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 300,
        duration: 2000
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="/main.js"></script>

</body>

</html>