<%- include("partials/header") %>
  <div class="aboutcheck"></div>
  <div class="overlay"></div>
  <div class="about container-fluid text-center" data-aos="fade-left">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Our Team</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo vulputate
            pellentesque</p>
        </div>
      </div>
    </div>
  </div>
  </header>
  <br>
  <br>
  <div class="container">
    <div class="about col-lg-10 col-md-10 mx-auto" data-aos="fade-up-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit,
        fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto
        error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas
        voluptatibus, minus!
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque
        esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
      <p>Rohil Saraf: 19BDS0171 <br>
        Adrija Mukhopadhyay: 19BDS0159 <br>
        Hrishikesh Magadum:19BDS0165 <br>
        Yashasva Sharma: 19BDS0103 <br>
        Tushar Krishnan: 19BDS0158</p>
    </div>
  </div>
  <%- include("partials/footer") %>