<%- include("partials/header") %>
  <div class="aboutcheck"></div>
  <div class="overlay"></div>
  <div class="about container-fluid text-center" data-aos="fade-left">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Our Team</h1>
          <p>Our Motto</p>
          <p>“Remember that the happiest people are not those getting more, but those giving more.”</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </header>
  <br>
  <br>
  <div class="container">
    <div class="about col-lg-10 col-md-10 mx-auto">
      <div>
        <p>STAVROS mission is to unite with people in India in order to create development in the broadest sense
          through the implementation of the projects that aim at transferring knowledge, skills and capacity to
          individuals and communities who need assistance to come out of poverty and other dehumanizing conditions. </p>
        <p>STAVROS is a development organization registered as a not-for-profit company under section 25 of the
          Companies
          Act, 1956 as of 21st May 1998. It is a non-political, non-religious organization working for the holistic
          development of the under-privileged and marginalized people in rural and urban India through social
          development
          and poverty alleviation interventions by coordinated, strategic approaches focusing on education, life skills
          , improved livelihoods, health and sanitation, the empowerment of women and environment protection. So far,
          HPPI has implemented more than 160 projects all over the country in partnership with different international
          and national private and public partners.
        </p>
        <p>Stavross is currently implementing more than 70 projects in the states of Rajasthan, Haryana, Uttar Pradesh,
          Madhya Pradesh, Bihar, Maharashtra, Karnataka, Uttarakhand, West Bengal, Jharkhand, Chhattisgarh, Telangana,
          Jammu and Kashmir and Delhi, reaching out to around two million people annualy. HPPI works with more than
          70 partners, which include government sectors, private corporations and international funding agencies.
        </p>
        <p>
          STAVROS is a member of The Federation for Associations connected to the International Humana People to People
          Movement. The Federation comprises 30 independent national associations working in 45 countries on five
          continents
          reaching out to 12 million people yearly.
        </p>
        <p>

        <table style="font-family: 'Montserrat';margin-left: 180px;" cellspacing="5px" cellpadding="3px">
          <tr>
            <td>Rohil Saraf: 19BDS0171</td>
            <td> Contact.No-8885688851</td>
          </tr>
          <tr>
            <td>Adrija Mukhopadhyay: 19BDS0159</td>
            <td> Contact.No-9773962879</td>
          </tr>
          <tr>
            <td> Hrishikesh Magadum:19BDS0165</td>
            <td> Contact.No-8355842165</td>
          </tr>
          <tr>
            <td>Yashasva Sharma: 19BDS0103</td>
            <td>Contact.No-6350111452</td>
          </tr>
          <tr>
            <td>Tushar Krishnan: 19BDS0158</td>
            <td>Contact.No-7019136316</td>
          </tr>
        </table>
        </p>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>