<%- include("partials/header") %>
  <div class="indexcheck"></div>
  <div class="homepage container text-center" data-aos="fade-left" data-aos-anchor-placement="top-center"
    style="overflow: hidden;">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h1>Stavros</h1>
        <h6>You have a role to play</h6>
        <h2>Connect. Enpower. Inspire.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        <div class="row">
          <div class="col-lg-4">
            <a href="/checkout"><button class="btn btn-warning px-3 py-3">
                <h4>Donate Now</h4>
              </button></a>
          </div>
          <div class="col-lg-4">
            <a href="/compose">
              <button class="btn btn-primary px-3 py-3">
                <h4>Write a blog</h4>
              </button></a>
          </div>
          <div class="col-lg-4">
            <a href="/donations">
              <button class="btn btn-info px-3 py-3">
                <h4>See Donations</h4>
              </button></a>
          </div>

        </div>



      </div>
      <div class="col-md-5 col-sm-12">
        <img class="hand" src="images/hand.jpg" alt="hand">
      </div>

    </div>

  </div>
  </header>

  <main>
    <section class="section-1" data-aos="fade-up">
      <div class="container text-center" data-aos="fade-right">
        <div class="row">
          <div class="col-md-6">
            <div class="pray">
              <img src="images/child.jpg" alt="pray">
            </div>

          </div>
          <div class="col-md-6">
            <div class="panel text-left">
              <h1>Why Donate?</h1>
              <p class="pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie neque at nisl elementum mollis.
                Etiam sed hendrerit magna. Suspendisse potenti. Suspendisse tincidunt egestas pulvinar. Integer accumsan
                ligula eget ipsum congue
                iaculis. Sed id dolor in enim varius posuere. Nullam dapibus placerat tincidunt. Vivamus vestibulum
                velit non facilisis sagittis. Curabitur quis pulvinar eros. Nunc malesuada id ante quis tempor. Integer
                magna elit, elementum vel elit
                et, aliquet lacinia diam.
              </p>
              <p>
                aecenas tincidunt, justo id faucibus condimentum, tellus diam sollicitudin sem, eu tempus lacus massa
                quis nisl. In non euismod eros, tempor lobortis ex. Nam vulputate odio risus, eget volutpat sem
                scelerisque at. Fusce eget urna in
                nunc pulvinar pretium. Nunc placerat faucibus dui ut blandit. Duis placerat augue at felis pellentesque,
                no
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="content text-center data-aos=" fade-right"">
          <h1>What have we donated yet?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie neque at nisl elementum mollis. Etiam
            sed hendrerit magna.</p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>40178</h1>
            <p>Garments</p>
          </div>
          <div class="rect">
            <h1>98945</h1>
            <p>Plates of food</p>
          </div>
          <div class="rect">
            <h1>2349</h1>
            <p>Toilet baskets</p>
          </div>
          <div class="rect">
            <h1>990212</h1>
            <p>Books</p>
          </div>
        </div>
      </div>

      <div class="purchase text-center data-aos=" flip-left"">
        <h1>Choose your own donation plan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie neque at nisl elementum mollis. Etiam
          sed hendrerit magna.</p>
        <div class="cards">
          <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Food</h5>
                </div>
                <p class="card-text">
                  Fund the meals of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹3</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Clothes</h5>
                </div>
                <p class="card-text">
                  Fund the clothes of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹5</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Education</h5>
                </div>
                <p class="card-text">
                  Fund the education of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹15</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

    <section class="section-3 container-fluid p-0 text-center" data-aos="fade-left">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>You can use any of these to make your donation!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie neque at nisl elementum mollis. Etiam
            sed hendrerit magna</p>
        </div>
      </div>
      <div class="platform row">
        <div class="col-md-4 col-sm-12 text-right">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-google-pay fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">UPI</h3>
                <p class="p-0 m-0">Supports Paypal</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-cc-visa fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Credit Card</h3>
                <p class="p-0 m-0">lorem ipsum</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-left">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-credit-card fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Debit Card</h3>
                <p class="p-0 m-0">lorem ipsum</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Meet some people Stavros has helped</h1>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="team row" data-aos="fade-right">
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="images/face1.jpg" alt="Member" class="ImageStyle img-fluid">
            </div>
            <div class="card-body">
              <h3 class="card-title">Chandu Sharma</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo vulputate
                pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor tincidunt, non
                imperdiet libero auctor. Nam in
                rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis nulla sed
                condimentum dapibus.
              </p>
              <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
              <p class="text-black-50">Reg no 19BDS0103</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <!-- carousel start-->
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active text-center">
                <!-- card2 -->
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face2.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Raju Stark</h3>
                    </h3>
                    </h3>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo
                      vulputate pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor
                      tincidunt, non imperdiet libero auctor.
                      Nam in rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis
                      nulla sed condimentum dapibus.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                    <p class="text-black-50">Reg no 19BDS0171</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center">
                <!-- card3 -->
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face3.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Adina Mukhoji</h3>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo
                      vulputate pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor
                      tincidunt, non imperdiet libero auctor.
                      Nam in rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis
                      nulla sed condimentum dapibus.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                    <p class="text-black-50">Reg no 19BDS0159</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face4.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Hrithik Loshan</h3>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo
                      vulputate pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor
                      tincidunt, non imperdiet libero auctor.
                      Nam in rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis
                      nulla sed condimentum dapibus.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                    <p class="text-black-50">Reg no 19BDS0165</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="images/face5.jpg" alt="Member" class="ImageStyle img-fluid">
            </div>
            <div class="card-body">
              <h3 class="card-title">Nishar Trishnan</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo vulputate
                pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor tincidunt, non
                imperdiet libero auctor. Nam in
                rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis nulla sed
                condimentum dapibus.
              </p>
              <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
              <p class="text-black-50">Reg no 19BDS0158</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("partials/footer") %>