<%- include("partials/header") %>
  <div class="indexcheck"></div>
  <div class="homepage container text-center" data-aos="fade-left" data-aos-anchor-placement="top-center"
    style="overflow: hidden;">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h1>Stavros</h1>
        <h6>You have a role to play</h6>
        <h2>Connect. Enpower. Inspire.</h2>
        <p>There are many ways to push for much-needed reforms: One way is to make a donation.
          It doesn't matter much whether you contribute publicly or in a private way - either
          way is good. What matters is your true intention.</p>
        <div class="row">
          <div class="col-lg-4">
            <a href="/checkout"><button class="btn btn-warning px-3 py-3">
                <h4>Donate Now</h4>
              </button></a>
          </div>
          <div class="col-lg-4">
            <a href="/compose">
              <button class="btn btn-primary px-3 py-3">
                <h4>Write a blog</h4>
              </button></a>
          </div>
          <div class="col-lg-4">
            <a href="/donations">
              <button class="btn btn-info px-3 py-3">
                <h4>See Donations</h4>
              </button></a>
          </div>

        </div>



      </div>
      <div class="col-md-5 col-sm-12">
        <img class="hand" src="images/hand.jpg" alt="hand">
      </div>

    </div>

  </div>
  </header>

  <main>
    <section class="section-1" data-aos="fade-up">
      <div class="container text-center" data-aos="fade-right">
        <div class="row">
          <div class="col-md-6">
            <div class="pray">
              <img src="images/child.jpg" alt="pray">
            </div>

          </div>
          <div class="col-md-6">
            <div class="panel text-left">
              <h1>Why Donate?</h1>
              <p class="pt-4">
                There are millions of people in the world who are worse of than we are at any one time.
                Many of these folk have problems that are not their fault or are beyond their ability
                to prevent or change. Humans are a social animal and the best way for mankind to advance
                is by helping those who are unable to help themselves. We have a responsibility to care
                for other people, to help those less fortunate than ourselves. When we have some spare cash,
                time or goods, it is an opportunity to help out.

              <p>
                Donating to charity is the perfect opportunity to make a difference in the world.
                By making a difference to someone’s life, you are leaving behind a legacy. You are
                making a statement that your life was worthwhile because you made a contribution
                to society.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="content text-center data-aos=" fade-right"">
          <h1>What have we donated yet?</h1>
          <p>The value of life is not in its duration, but in its donation.
            You are not important because of how long you live, you are
            important because of how effective you live.</p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>40178</h1>
            <p>Garments</p>
          </div>
          <div class="rect">
            <h1>98945</h1>
            <p>Plates of food</p>
          </div>
          <div class="rect">
            <h1>2349</h1>
            <p>Toilet baskets</p>
          </div>
          <div class="rect">
            <h1>990212</h1>
            <p>Books</p>
          </div>
        </div>
      </div>

      <div class="purchase text-center data-aos=" flip-left"">
        <h1>Choose your own donation plan</h1>
        <p>It does not matter how much we donate; it matters whether the donation is meaningful.
          How to define meaningful? Let society and history judge.
        </p>
        <div class="cards">
          <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Food</h5>
                </div>
                <p class="card-text">
                  Fund the meals of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹3</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Clothes</h5>
                </div>
                <p class="card-text">
                  Fund the clothes of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹5</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Education</h5>
                </div>
                <p class="card-text">
                  Fund the education of the ones less fortunate!
                </p>
                <div class="pricing">
                  <h1>₹15</h1>
                  <a href="/checkout" class="btn btn-dark px-5 py-2 mb-5">Donate Now</a>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>You can use any of these to make your donation!</h1>
          <p>On our platform, you can donate to a nonprofit with confidence.
            Our robust due diligence process covers legal, compliance, financial
            and impact checks for each donation made to any non-profit, including
            in-person visits to beneficiaries and actual feedback reports. We do all
            this so that our donors can trust that their giving is indeed doing
            what it's supposed to do - change lives.</p>
        </div>
      </div>
      <div class="platform row" data-aos="fade-up" style="overflow-x: hidden;">
        <div class="col-md-4 col-sm-12 text-right">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-google-pay fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">UPI</h3>
                <p class="p-0 m-0">Supports Paypal</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-cc-visa fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Credit Card</h3>
                <p class="p-0 m-0">lorem ipsum</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-left">
          <div class="upi shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-credit-card fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Debit Card</h3>
                <p class="p-0 m-0">lorem ipsum</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Meet some people Stavros has helped</h1>
        <p class="text-secondary">Any donation makes a difference. Read these stories</p>
      </div>
      </p>
      </div>
      <div class="team row" data-aos="fade-right">
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="images/face1.jpg" alt="Member" class="ImageStyle img-fluid">
            </div>
            <div class="card-body">
              <h3 class="card-title">Chandu Sharma</h3>
              <p class="card-text">
                “When I got married, we lived in a kutcha house. As a contract worker, I
                barely made Rs 50 a day. We ate only roti and red chilli chutney. Today
                we eat pulses, vegetables ghee,” Kanni says.
                “Together we earn Rs 10,000-15,000 a month. Our savings are good. We don’t
                think of migrating to the city. We earn enough sitting at home,” Ram
                says. Some years ago, he took a Rs 1.5 lakh loan and built a two-room house.
                He repaid the loan in four years. They never got an education, but their
                three kids go to private schools.
              </p>
              <a href="#" class="text-secondary text-decoration-none">Visit</a>
              <p class="text-black-50">Contractor</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <!-- carousel start-->
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active text-center">
                <!-- card2 -->
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face2.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Chandu Sharma</h3>
                    </h3>
                    </h3>
                    <p class="card-text">

                      “They offered to deepen and reclaim the tank.” The foundation said that
                      if the village contributed a quarter of the cost it would take care of the rest
                      . “We hesitated initially, but ultimately agreed.” Chandu pledged his wife’s
                      jewellery with a pawn broker and contributed his share of Rs 5,000. “After 20 years,
                      I grew paddy on one acre and reaped 40 bags.”
                      Now, the tank retains water for five months after the monsoon. Chandu has
                      repaid his debts and is now a circle treasurer of Dhan’s Vayalagam Federation.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Visit</a>
                    <p class="text-black-50">Farmer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center">
                <!-- card3 -->
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face3.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Adina Mukhoji</h3>
                    <p class="card-text">
                      “I simply sit and grow fat these days,” Sarjubai Meena laughs as she sums up how the Foundation
                      for
                      Ecological Security (FES) has turned her life around. “Ten years ago, most of my day went in
                      getting
                      water from the handpump for my goats,” she says.

                      “Then the Stravros sahib came. They taught us to build anicuts to recharge groundwater and save
                      our
                      forests.” Sturdy and active, this 50-year-old grandmother is today engaged in building a strong
                      community sensitive to the environment.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Visit</a>
                    <p class="text-black-50">Social Activist</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                  <div class="card-img-top">
                    <img src="images/face4.jpg" alt="Member" class="ImageStyle img-fluid">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Hrithik Loshan</h3>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque dolor vitae leo
                      vulputate pellentesque. Cras elementum ante a erat suscipit mollis. Nunc cursus metus vel dolor
                      tincidunt, non imperdiet libero auctor.
                      Nam in rhoncus dui, quis tempor ex. Curabitur non odio augue. Nulla facilisi. Etiam facilisis
                      nulla sed condimentum dapibus.
                    </p>
                    <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                    <p class="text-black-50">Reg no 19BDS0165</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="images/face5.jpg" alt="Member" class="ImageStyle img-fluid">
            </div>
            <div class="card-body">
              <h3 class="card-title">Adina Mukhoji</h3>
              <p class="card-text">
                Adina Mukhoji is perhaps one of the most impressive philanthropists because
                she truly fits the term “self-made.” After growing
                up in a poor household in Calicut and enduring sexual abuse, she still
                managed to overcome the many obstacles she faced and find major success.
                Not only has Winfrey brought to light the needs of people around the globe
                through her talk show and reporting endeavors, but she’s donated millions
                of dollars through the Adina Mukhoji Charitable Foundation.

              </p>
              <a href="#" class="text-secondary text-decoration-none">Visit</a>
              <p class="text-black-50">Social Activist</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("partials/footer") %>