<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
</head>

<body>
    <h1>Your Donation was received!</h1>
    <p>
    <h4>
        Dear <%= name %>,
    </h4>
    <br>
    <p>
        Thank you for your great generosity! Your donation of ₹ <%= amount %>
            will be used to fulfil the purpose of our organization. We, at Stavros,
            greatly appreciate your donation, and your sacrifice. Your support helps to
            further our mission through our initiatives. Your support is invaluable to us, thank you again! If you
            have specific questions about our mission be sure to reach out to us!
            <br>
            Sincerely, Team Stavros.
    </p>
    </p>
</body>

</html>