<%- include("partials/header") %>


    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Success!</h1>
                <p class="lead">
                    Thankyou for making your Donation!
                </p>
                <div class="btn-group text-center">
                    <a href="/">
                        <button class="btn btn-lg btn-primary" type="submit" style="width: 200px; margin: 10px;">
                            <h5>Home</h5>
                        </button>
                    </a>
                    <a href="/donations">
                        <button class="btn btn-lg btn-info" type="submit" style="width: 200px; margin: 10px;">
                            <h5>See your donation</h5>
                        </button>
                    </a>

                </div>

            </div>

        </div>
    </body>

    </html>